{% extends 'base.html.twig' %}


{% block body %}

    <div class="flex flex-col gap-16">

        <twig:Hero/>

        <twig:SectionLayout sectionTitle="Compétences" sectionId="skills">
            <div class="flex flex-col gap-4 md:flex-row md:justify-around">

                <twig:CardSkills cardTitle="Front-end"
                                 :skills="{TypeScript: 'devicon:typescript', React: 'devicon:react', Next: 'devicon:nextjs'}"/>

                <twig:CardSkills cardTitle="Back-end"
                                 :skills="{PHP: 'devicon:php', Symfony: 'devicon:symfony', 'API Rest': 'dashicons:rest-api'}"/>

                <twig:CardSkills cardTitle="Base de données"
                                 :skills="{MySQL: 'devicon:mysql-wordmark', Doctrine: 'devicon:doctrine', Prisma: 'devicon:prisma'}"/>

            </div>
        </twig:SectionLayout>

        <twig:SectionLayout sectionTitle="Projets" sectionId="projects">
            <div class="flex flex-col gap-6 md:flex-row md:justify-around">
                {% for project in projects %}
                    <twig:CardProject :project="project"/>
                {% endfor %}
            </div>

            <div class="flex justify-end">
                <a href="{{ path('project_index') }}" class="btn btn-outline text-primary w-fit">
                    Voir tous les projets
                    <twig:ux:icon name="ic:outline-read-more" class="size-6"/>
                </a>
            </div>
        </twig:SectionLayout>

        <div class="bg-primary/20 px-4 py-12" id="contact">
            <div class="container mx-auto max-w-3xl space-y-6">
                <h2 class="font-extrabold text-4xl bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent text-center md:text-5xl">
                    Contactez-moi
                </h2>

                <p class="text-muted text-lg font-medium">
                    Vous souhaitez recruter un développeur passionné en alternance ou en contrat, ou tout simplement
                    échanger, contactez-moi et je reviendrais vers vous très rapidement.
                </p>

                {{ form_start(form) }}
                {{ form_row(form.name, {label: 'Votre nom'}) }}
                {{ form_row(form.email, {label: 'Votre mail'}) }}
                {{ form_row(form.message, {label: 'Votre message'}) }}
                <button type="submit" class="btn btn-primary">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
