{% extends 'admin/adminBase.html.twig' %}

{% block title %}Éditer {{ technology.name }}{% endblock %}

{% block body %}

    <div class="px-4 py-12 max-w-3xl mx-auto w-full">
        <h1 class="text-2xl font bold mb-8">{{ technology.name }}</h1>

        {{ form_start(form) }}
        {{ form_row(form.name, {label: 'Nom de la techno'}) }}
        {{ form_row(form.SymfonyUxIconName, {label: 'Icône Symfony UX'}) }}
        {{ form_rest(form) }}


        <button type="submit" class="btn btn-primary">Enregister</button>

        {{ form_end(form) }}
    </div>

{% endblock %}
